body {
    background-color: #F0EFF2;
}

.approval {
    width: 70%;
    margin: 50px auto;
}

.approval__ttl {
    border-left: 6px solid #000000;
    padding-left: 20px;
    margin-bottom: 30px;
}

.approval__table {
    background-color: #FFFFFF;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.approval__table-row {
    border-bottom: 3px solid #F0EFF2;
}

.approval__table-row:last-child {
    border: none;
}

.approval__table-heading {
    width: 30%;
}

.approval__table-heading,
.approval__table-data {
    padding: 24px 48px;
    text-align: left;
}

.approval__table-data {
    width: 70%;
}

.approval__table-span {
    margin: 0 30px;
    font-weight: bold;
}

.approval__span-day {
    margin-left: 50px;
}

.approval__form-button {
    text-align: right;
    margin-top: 50px;
}

.approval__form-submit {
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 3px;
    padding: 8px 32px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 8px;
}

.approval__form-status {
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 3px;
    padding: 12px 18px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 8px;
}