body {
    background-color: #F0EFF2;
}

.staff {
    width: 70%;
    margin: 50px auto;
}

.staff__ttl {
    border-left: 6px solid #000000;
    padding-left: 20px;
    margin-bottom: 20px;
}

.staff__date {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    margin-bottom: 30px;
    padding: 8px;
    border-radius: 3px;
}

.staff__month-link {
    text-decoration: none;
    color: black;
}

.staff__target-month {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.img-calendar {
    height: 1.5em;
    vertical-align: middle;
}

.staff__date-span {
    font-weight: bold;
}

.staff__form {
    text-align: center;
}

.staff__form-content {
    background-color: #FFFFFF;
    padding: 8px;
    border-radius: 3px;
}

.staff__form-table {
    width: 100%;
}

.staff__form-table-row {
    border-bottom: 3px solid #F0EFF2;
}

.staff__form-table-row:last-child {
    border: none;
}

.staff__form-table-heading {
    width: 15%; 
    padding: 8px;
} 

.staff__form-table-heading:first-child {
    width: 15%; 
}

.staff__form-table-data {
    padding: 8px; 
}

.staff__form-table-link {
    text-decoration: none;
    color: #000000;
}

.staff__form-button {
    margin-top: 30px;
    text-align: right;
}

.staff__form-submit {
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 3px;
    padding: 4px 24px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 4px;
}